.iconbar-wrapper {
    color: black;
    left: 0rem;
    width: auto;
    height: auto;
}
.iconbar-list {
    background: radial-gradient(ellipse at bottom, #949494, transparent 45%);
}
.iconbar-list ul {
    /* padding-bottom: 10px; */
    margin: 0 auto;
    padding: 0px 0px 5px 0px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    transform: rotateY(15deg);
    display: inline-block;
    list-style-type: none;
}
.iconbar-list ul li {

    display: inline-block;
    list-style-type: none;
    width: 5rem;
}
.iconbar-list-flipped {
    background: radial-gradient(ellipse at top, #949494, transparent 45%);
}
.iconbar-list-flipped ul {
    margin: 0 auto;
    padding: 75px 0px 10px 0px;
    transform: rotateX(180deg);
    display: inline-block;
    list-style-type: none;
}
.iconbar-list-flipped ul li {
    opacity: .5;
    display: inline-block;
    list-style-type: none;
    width: 5rem;
}