.iconbar-wrapper {
    left: 0rem;
    width: 100%;
    height: 100%;
    background: pink;
}
.iconbar-list ul {
    display: inline-block;
    list-style-type: none;
}
.iconbar-list ul li {
    display: inline-block;
    list-style-type: none;
    width: 5rem;
}