.iconbar-wrapper {
    color: black;
    left: 0rem;
    width: auto;
    height: auto;
}
.iconbar-list {
    padding: 50px 0px 0px 0px;
    background: radial-gradient(ellipse at bottom, #949494, transparent 75%);
}
.iconbar-list ul {
    margin: 0 auto;
    padding: 0px 5px 0px 5px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    transform: rotateY(15deg);
    display: inline-block;
    list-style-type: none;
}
.iconbar-list ul li {
    display: inline-block;
    list-style-type: none;
    width: 6rem;
}
.iconbar-list-flipped {
    background: radial-gradient(ellipse at top, #949494, transparent 65%);
}
.iconbar-list-flipped ul {
    margin: 0 auto;
    padding: 75px 0px 10px 0px;
    transform: rotateX(180deg);
    display: inline-block;
    list-style-type: none;
}
.iconbar-list-flipped ul li {
    opacity: .5;
    display: inline-block;
    list-style-type: none;
    width: 6rem;
}

.small-iconbar-list {
    display: none;
}

@media only screen and (max-width: 600px) {
    .small-iconbar-list {
        color: white;
        padding-left: 40%;
        display: flex;
    }
    .iconbar-list {
        display: none;
    }
    .iconbar-list-flipped {
        display: none;
    }
  }
  @media only screen and (max-width: 1400px) {
    .small-iconbar-list {
        padding-left: 40%;
        display: flex;
    }
    .iconbar-list {
        display: none;
        width: 3rem;
    }
    .iconbar-list-flipped {
        display: none;
        width: 3rem;
    }
  }