.nav-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    height: 100px;
    width: 100%;
    background: #00001a;
    padding: 0 25px;
}

.nav-left {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.nav-right {
    width: 50%;
    text-align: right;
    display: inline;
    float: right;
}

.nav-item {
    font-size: xx-large;
    width: auto;
    padding: 10px 20px;
    color: white;
    font-family: 'Open Sans';
    display: inline;
}