.main-content-wrapper {
    /* color: #f6c90e; */
    background-image: linear-gradient(to top, #303841 75%, #CFCFCF);
    padding-top: 50px;
}

.flex {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-column {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #eeeeee;
}

.flex-row {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-item {
    width: 100%;
    color: #eeeeee;
    padding: 50px 0px;
}

.headshot {
    overflow: hidden;
}

.headshot img {
    height: 400px;
    width: auto;
    border-radius: 100%;
}

.text-item-left {
    font-family: 'Raleway';
    line-height: 1.5;
    letter-spacing: 1.1;
    text-align: left;
    padding: 25px 25px;
    background: #CFCFCF;
    width: 100%;
    /* height: auto; */
    margin: 0 auto;
    border-top-right-radius: 50%;
    border-top-left-radius: 25px;

}

.text-item-right {
    text-align: right;
    font-family: 'Raleway';
    line-height: 1.5;
    letter-spacing: 1.1;
    padding: 25px 25px;
    background: #CFCFCF;
    width: 100%;
    margin: 0 auto;
}

.exp-image img {
    border: 10px solid black;
    max-width: 400;
    height: auto;
}

.first-column .exp-title h1 {
    font-size: 100;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: dotted;
    color: #303841;
    height: auto;
}

.flex-column .exp-title h1 {
    font-size: 100;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: dotted;
    background: #CFCFCF;
    padding: 25px 25px;
    height: auto;
    border-top-right-radius: 300%;
    border-top-left-radius: 25px;
    color: #303841;
}

.flex-item .experience-title {
    font-size: 200;
    font-weight: 900;
    font-style: italic;
}

.content {
    background: #303841;
    border-top-left-radius: 25px;
    border-right: 1px solid #CFCFCF;
    border-top: 1px solid #CFCFCF;
}

ul li {
    padding: 5px 0;
    line-height: 1.8;
    font-size: larger;
}

.first-column {
    background: #CFCFCF;
    padding: 0 10px;
    color: #eeeeee;
    padding-bottom: 100px;
}

.about-me {
    width: 80%;
    margin: 0 auto;
    background: #303841;
    padding: 25px 0px;
}

.about-me span {
    font-size: x-large;
}

.about-me .italic {
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .main-content-wrapper {
        padding-top: 0px;
    }
    .flex {
        width: 100%;
    }
    .flex-column {
        width: 100%;
    }
    .flex-row {
        width: 100%;
        padding: 0px 0px;
    }
    .text-item-right {
        padding: 0px 5px;
        font-size: large;
        letter-spacing: .5px;
    }
    .text-item-left {
        padding: 0px 5px;
        
    }
    .flex-column .exp-title h1 {
        text-align: left;
    }
    .about-me {
        opacity: .7;
    }
    .about-me span {
        padding: 0px 0px;
        font-size: large;
        letter-spacing: .5px;
    }
    .headshot img {
        border: 3px solid #CFCFCF;
        box-shadow: inset 10px 0px 30px #CFCFCF;
        max-width: 250px;
        height: auto;
    }

}