.header-wrapper {
    text-align: center;
    line-height: 5em;
    /* min-height: auto; */
    width: 100%;
    height: auto;
    background: radial-gradient(#080808, #00001a);
    color: #add8e6;
    padding-bottom: 250px;
}

.header-content {
    /* margin: 0px 25px; */
    height: auto;
    width: auto;
    top: 15px;
    text-align: center;
    background: transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: hidden; */
}

.header-title {
    text-align: center;
    /* padding: 50px 0px; */
}

.header-message p {
    margin: 0px 0px;
    padding: 0px 0px;
    width: auto;
}

.header-message {
    /* padding: 10px 10px; */
    font-family: 'Raleway';
    font-size: xx-large;
    font-weight: 100;
}

.header-message .name {
    opacity: 0;
    font-family: 'Julius Sans One';
    font-size: 70px;
    font-weight: 500;
    color: orangered;
}

@keyframes learnMore {
    0% {
        opacity: .5;
        box-shadow: none;
    }
    50% {
        opacity: .95;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: 0;
        box-shadow: 0px 0px 20px goldenrod;
    }
}

.message {
    height: auto;
}

.header-content a {
    width: auto;
    margin: 20px auto;
    padding: 10px 25px;
    border: none;
    background: none;
    color: #add8e6;
    animation-name: learnMore;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
    font-size: x-large;
}

.header-content a:hover {
    background: goldenrod;
    box-shadow: 0px 0px 20px #add8e6;
    /* color: #00001a; */
}

.about-content a {
    width: auto;
    /* margin: 20px auto; */
    padding: 10px 25px;
    border: none;
    background: none;
    color: #00001a;
    animation-name: learnMore;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
    font-size: x-large;
}

.about-content a:hover {
    background: goldenrod;
    box-shadow: 0px 0px 20px #add8e6;
    color: #00001a;
}


@media only screen and (max-width: 600px) {
    .header-wrapper {
      padding-bottom: 25px;
      text-align: center;
    }
    .header-title h1 {
        font-size: 1.5em;
    }
    .header-content a {
        color: #add8e6;
    }
  }


