.header-wrapper {
    text-align: right;
    line-height: 1.5;
    height: 5rem;
    width: 100%;
    height: auto;
    background: transparent;
    padding-top: 50px;
    padding-bottom: 100px;
    /* background-image: url('../..//public/images/ALM_Logo.jpg'); */
    background-position: top left;
    background-size: 400px;
    background-attachment: local;
    background-repeat: no-repeat;
}

span a {
    color: #303841;
}

.nunito {
    font-size: 80px;
    font-weight: bold;
    transition: .2s;
}

.nunito:hover {
    letter-spacing: 3.4rem;
    animation: animate 0.5s infinite
}

.raleway {
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Raleway';
    transition: .15s;
    transition-timing-function: ease-in;
}

.raleway:hover {
    letter-spacing: 3rem;
    font-size: 72px;
    font-weight: bolder;
}

.header-content {
    height: auto;
    width: 80%;
    top: 15px;
    background: transparent;
    margin: 0 auto;
    font-size: xx-large;
}

.header-menu {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent ;
}
.header-menu ul {
    list-style-type: none;
    margin: 0 auto;
}
.header-menu ul li {
    display: inline-block;
    width: 40rem;
}

@keyframes animate { 
    0% { 
        transform: translateY(0px); 
    } 

    50% { 
        transform: translateX(-20px); 
    } 

    100% { 
        transform: translateY(0px); 
    } 
} 