.header-wrapper {
    text-align: center;
    line-height: 1.5;
    min-height: 100vh;
    width: 100%;
    height: auto;
    background: radial-gradient(#080808, #00001a);
    /* padding-top: 50px; */
    /* padding-bottom: 100px; */
    color: #add8e6;
}

.header-content {
    margin: 0px 25px;
    height: auto;
    width: 100%;
    top: 15px;
    text-align: center;
    background: transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-title {
    text-align: center;
    padding: 100px 0px;
    /* height: 50vh; */
}

.header-message {
    padding: 10px 10px;
    font-family: 'Raleway';
    font-size: xx-large;
    font-weight: 100;
}

.header-message .name {
    font-family: 'Julius Sans One';
    font-size: 70px;
    font-weight: 500;
    color: orangered;
}


.icons {
    margin: 0 auto;
    padding: 25px 0;
}

@media only screen and (max-width: 600px) {
    .header-wrapper {
      padding-bottom: 25px;
      text-align: center;
    }
    .header-title h1 {
        font-size: 1.5em;
    }
  }