.App {
  text-align: center;
  font-size: larger;
  color: #add8e6;
}

.nav-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  height: auto;
  width: 100%;
  background: #00001a;
  color: #add8e6;
  padding: 0 25px;
}

.nav-left {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.nav-right {
  width: 50%;
  text-align: right;
  display: inline;
  float: right;
}

.nav-item {
  font-size: xx-large;
  width: auto;
  padding: 10px 20px;
  font-family: 'Open Sans';
  display: inline;
}

.nav-item a {
  color: #add8e6;
}