.project-wrapper {
    padding: 100px 50px 0 50px;
    /* background: linear-gradient(to bottom, #303841, #ffffff); */
    background: #303841;
    margin: 0 auto;
    height: auto;
    width: 100%;
    /* border-radius: 25px; */
    box-shadow: 10px 10px 10px 10px #46515e;
}

.project-tabs {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background:  #303841;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.image-wrapper {
    background: linear-gradient(to bottom, #303841, #ffffff);
    /* padding-bottom: 50px; */
}

.project-tabs > a {
    background-color: 46515e;
    color: white;
}
.project-tabs > a:hover {
    background-color: #ffffff;
    color: black;
}


img {
    max-width: 750px;
}

@media only screen and (max-width: 600px) {
    img {
      width: 80vw;
    }
  }