.project-wrapper {
    color: #CFCFCF;
    padding: 50px 50px;
    background: #303841;
    margin: 0 auto;
    height: auto;
    width: 100%;
    box-shadow: inset 0px 10px 10px 10px #46515e;
}

.project-tabs {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background:  #303841;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.tab-wrapper {
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #46515e;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 5px 10px white;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 375px;
    width: 375px;
    background: #303841;
    margin: 10px 10px;
    padding: 10px 10px;
    box-shadow: inset 0px 5px 10px #CFCFCF;
}

.card-title {
    background: #46515e;
}

.card-title h3 {
    padding-top: 10px;
    color: white;
    font-weight: 600;
}

.card-title p {
    color: white;
    font-weight: 400;
}

.button {
    margin: 10px 5px;
    padding: 10px 10px;
    background: #CFCFCF;
}

.button:hover {
    background: silver;
}

.studyBuddy {
    background-image: url('../../public/images/SBProjPic.PNG');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.greenGrub {
    background-image: url('../../public/images/GreenGrub.JPG');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

button {
    margin: 0px 0px;
    padding: 0 0;
}

.button-container {
    width: auto;
    margin: 0 auto;
    padding: 0 0;
}


.project-tabs > a {
    background-color: 46515e;
    color: white;
}
.project-tabs > a:hover {
    background-color: #ffffff;
    color: black;
}


img {
    max-width: 750px;
}

@media only screen and (max-width: 600px) {
    img {
      width: 80vw;
    }
  }