.contact-form-wrapper {
    color: white;
    background: radial-gradient(#080808, #00001a);
    width: auto;
    margin: 0 auto;
    padding: 150px 20px 150px 20px;
    align-content: center;
}

.form-container {
    margin: 0 auto;
    display: inline-block;
    padding: 25px 30px 25px 30px;
    width: auto;
    background-color: none;
    border-radius: 10px;
}

.contact-title {
    color: white;
    height: 100%;
    width: auto;
    vertical-align: middle;
}

.contact-email {
    text-align: left;
    width: auto;
}

.contact-message {
    text-align: left;
}

.input-row input {
    color: #7e8a97;
}

.button {
    color: black;
    background-color: #7e8a97;
    margin: 0 auto;
    width: 10em;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.nunito {
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Nunito';
    transition: .15s;
    transition-timing-function: ease-in;
}


@media only screen and (max-width: 600px) {
    .contact-form-wrapper {
      width: 100%;
      padding-top: 50px;
    }
    .form-container {
        width: 100%;
    }
  }