.contact-form-wrapper {
    background: linear-gradient(to top, #46515e, #303841);
    width: 100%;
    margin: 0 auto;
    padding: 150px 20px 150px 20px;
    align-content: center;
}

.form-container {
    margin: 0 auto;
    display: inline-block;
    padding: 25px 30px 25px 30px;
    width: 60%;
    background-color: #505e6d;
    border-radius: 10px;
}

.contact-title {
    height: 100%;
    width: auto;
    vertical-align: middle;

}

.contact-email {
    text-align: left;
    width: 400px;
}

.contact-message {
    text-align: left;
}

.button {
    color: black;
    background-color: #7e8a97;
    margin: 0 auto;
    width: 10em;
}


