.footer-wrapper {
    width: 100%;
    height: auto;
    padding-top: 100px;
    background: radial-gradient(#080808, #00001a);
}

a {
    color: white;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    /* padding-top: 25px; */
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #add8e6;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.footer-layer-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 25px 0px 25px 0px;
}   

.footer-icon {
    padding: 0px 50px 0px 50px;
    color: #add8e6;
}

@media only screen and (max-width: 600px) {
    img {
      width: 80vw;
    }
    .footer-icon {
        padding: 25px;
    }
    .footer-layer-one {
        width: 100%;
    }
  }