.footer-wrapper {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, #303841, #ffffff);
}

.title {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-layer-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
    height: 80px;
}

.footer-icon {
    padding: 100px 100px 100px 50px;
}