@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin%20Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Julius%20Sans%20One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open%20Sans&display=swap');

body {
    color: #add8e6;
}

.header {
    font-family: 'Josefin Sans';
    display: flex;
    flex-direction: column;
    background-color: #add8e6;
    color: #add8e6;
    height: auto;
}
.main {
    height: auto;
    width: 100%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }