@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.home {

    font-family: 'Nunito';
    display: flexbox;
    flex-direction: column;
    background-color: white;
    min-width: 100%;
    height: auto;
}
.main {
    height: auto;
    width: 100%;
}