@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin%20Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Julius%20Sans%20One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open%20Sans&display=swap');

body {
    color: #add8e6;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
    .about {
        margin: 0;
        padding: 0;
    }
  }